<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div id = "cont">
        <div id = "taskbar">
            <div id = "app">a</div>
            <div id = "app">b</div>
            <div id = "app">c</div>
            <div id = "app">d</div>
            <div id = "app">e</div>
            <div id = "app">f</div>
            <div id = "app">g</div>
            <div id = "app">h</div>
            <div id = "app">i</div>
        </div>
        <div id = "topbar">
            <div id = "date"></div>
            <div id = "time"></div>
        </div>
    </div>

</body>
</html>